= link_to 'Info édition', event_edition_path(@edition.event, @edition), class: 'btn btn-default margin-left-0'
= link_to 'Résultats', results_event_edition_path(@edition.event, @edition), class: 'btn btn-default'

= render 'modal_import_photos'
= link_to 'Importer des photos', '#modal-import-photos', class: 'btn btn-default', data: { toggle: 'modal' }
- if @edition.photos.any?
  = link_to 'Voir les photos', event_edition_photos_path(event_id: @edition.event_id, edition_id: @edition.id), class: 'btn btn-default'
