= link_to 'Info édition', event_edition_path(@edition.event, @edition), class: 'btn btn-default'
= link_to 'Résultats', results_event_edition_path(@edition.event, @edition), class: 'btn btn-default'

= render 'modal_import_photos'
= link_to 'Importer des photos', '#modal-import-photos', class: 'btn btn-default', data: { toggle: 'modal' }
