Fichier en cours de traitement.


<h1>Voici le fichier des résultats</h1>

<br>

<table class='results'>
  <thead>
    <tr>
      <th>Class.<br>Scratch</th>
      <th>Nom</th>
      <th>Temps</th>
      <th>Sexe</th>
      <th>Class.<br>Sexe</th>
      <th>Catégorie</th>
      <th>Class.<br>Categ.</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table_row', collection: @table.sort_by{|item| item[RANK_INDEX].to_i}%>
  </tbody>
</table>
