<p><%= number_to_percentage (@race.emails_count * 100.0 / @race.runners_count) , precision: 1%> mails OK</p>
<p><%= number_to_percentage (@race.phones_count * 100.0 / @race.runners_count) , precision: 1%> phones OK</p>