<p><%= number_to_percentage (@edition.emails_count * 100.0 / @edition.runners_count) , precision: 1%> mails OK</p>
<p><%= number_to_percentage (@edition.phones_count * 100.0 / @edition.runners_count) , precision: 1%> phones OK</p>
<p><%= number_to_percentage ( 100 - (@edition.results.where("diploma_generated_at < uploaded_at or diploma_generated_at is null").count * 100.0 / @edition.results.count))  , precision: 1%> Diplômes générés et à jour</p>
