<p><%=@result.sent_message%></p>
<img src="<%=@result.diploma_url%>">
<p>Partage les avec tes amis et sur les réseaux sociaux (Kapp10, Facebook, Twitter ou Instagram) !</p>
<p>#kapp10 <%=@result.race.hashtag%></p>
<p>L'équipe du <%=@result.race.edition.event.name%></p>
<p><a href="https://itunes.apple.com/us/app/kapp10-partage-moments-sportifs/id1006680526">Télécharger Kapp10 sur iOS</a> &nbsp;<a href="https://play.google.com/store/apps/details?id=com.kappsports.kapp10">Télécharger Kapp10 sur Android</a>

