<p>Bonjour <%= @result.first_name %> <%= @result.last_name %>,</p>

<p>Merci d'avoir fait confiance à Kapp10 !</p>

<p>Vous trouverez votre diplôme en haute qualité en pièce jointe.</p>

<p> Bien à vous,</p>

<p>L'équipe Kapp10</p>
