script.stripe-button data-currency="eur" data-email="#{@result.mail}" data-key=("#{Rails.configuration.stripe[:publishable_key]}") data-locale="auto" data-name=("#{t('.order_your_diploma')}") data-label="#{t('.payment')}" src="https://checkout.stripe.com/checkout.js"

javascript:
  let stripeButton = document.getElementsByClassName("stripe-button-el")[0]
  const form = document.getElementsByTagName('form')[0];
  stripeButton.disabled = !form.checkValidity();

  const inputs = document.getElementsByClassName('form-control');
  console.log(inputs);
  Array.from(inputs).forEach((input) => {
    input.addEventListener('input', () => {
      stripeButton.disabled = !form.checkValidity();
    });
  });
