= simple_form_for photo, remote: true do |f|
  .row
    .col-sm-8
      = image_tag photo.image.url, class: 'img-responsive'
    .col-sm-4
      = f.input :bib
      = photo.runner_alert
      = f.button :submit , "Enregistrer", class: 'btn btn-standard'
