.main_frame {
    width: 95%;
}

.btn {
    border: 1px solid #aaa;
    padding: 0px 10px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #aaa;
}
.btn-danger {
    background-color: red;
    color: white;
}



table.horizontal th{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

table.results {
  width: 100%;
  font-size: 14px;

}

table.results thead {
  background-color: #EEEEEE;
  font-weight: bold;
  line-height: 15px;
  font-size: 12px;
}

table.results tbody td.right{
    text-align: right;
}
table.results tbody td.left{
    text-align: left;
}

table.results tbody td.center{
    text-align: center;
}


table.results tbody tr:nth-child(even){
  background-color: #EEEEEE;
}

