/*
Author: L'Apptelier
Author URL: http://www.lapptelier.com
*/

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/

@font-face {
    font-family: 'MuseoSans-100';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-100.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-100Italic';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-100Italic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans-300';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-300.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-300Italic';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-300Italic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-500.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-500Italic';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-500Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans-700';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-700.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-700Italic';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-700Italic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans-900';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-900.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans-900Italic';
    src: url('https://kapp10-finishline.herokuapp.com/template/fonts/MuseoSans-900Italic.otf');
    font-weight: 900;
    font-style: italic;
}

body {
    width: 1024px;
    height: 1024px;
    background: url('https://kapp10-finishline.herokuapp.com/template/images/background.jpg') no-repeat center fixed;
    text-align: center;
    margin: auto;
}

.name {
    font-family: MuseoSans-900, sans-serif;
    font-size: 70px;
    color: #FFFFFF;
    padding-top: 1.5em;
    font-weight: 900;
}

.number {
    font-family: MuseoSans-900, sans-serif;
    font-size: 160px;
    color: #FFFFFF;
    font-weight: 900;
}

.race {
    font-family: MuseoSans-900Italic, sans-serif;
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    width: 1024px;
    top: 75%;
    font-weight: 900;
    font-style: italic;
}

.date {
    font-family: MuseoSans-500Italic, sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 85%;
    font-weight: 500;
    font-style: italic;
}

.credit b {
    font-family: MuseoSans-900Italic, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 900;
    font-style: italic;
}

.credit {
    font-family: MuseoSans-300Italic, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    position: fixed;
    width: 1024px;
    font-weight: 300;
    top: 95%;
    font-style: italic;
}

.stats {
    position: fixed;
    width: 96%;
    top: 40%;
}

.stat img {
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

}

.stat {
    display: block;
    float: left;
    width: 31%;
    margin: 2% 1%;
    text-align: center;
    font-family: MuseoSans-100, sans-serif;
    font-size: 65px;
    font-weight: 100;
    color: #FFFFFF;
}

.stat b {
    font-family: MuseoSans-900, sans-serif;
    font-size: 65px;
    font-weight: 900;
    color: #FFFFFF;
}

